In [1]:
import warnings

from water.estimators import TimeSeriesClassifier
from water.loader import TimeSeriesLoader
from water.utils import logging_setup

warnings.filterwarnings('ignore', category=DeprecationWarning)

logging_setup(1)

In [2]:
loader = TimeSeriesLoader('../datasets/ItalyPowerDemand', 'demand', 'target')

In [3]:
X, y, data = loader.load()

In [4]:
X.head(5)

   demand_id  timeseries_id cutoff_time
0          0              0  2010-01-25
1          1              1  2010-01-25
2          2              2  2010-01-25
3          3              3  2010-01-25
4          4              4  2010-01-25

In [5]:
y.head(5)

0    1
1    1
2    2
3    2
4    1
Name: target, dtype: int64

In [6]:
data.keys()

dict_keys(['entities', 'relationships', 'target_entity'])

In [7]:
data['entities']['demand'][0].head()

   demand_id  timeseries_id cutoff_time
0          0              0  2010-01-25
1          1              1  2010-01-25
2          2              2  2010-01-25
3          3              3  2010-01-25
4          4              4  2010-01-25

In [8]:
data['relationships']

[('timeseries', 'timeseries_id', 'demand', 'demand_id'),
 ('timeseries', 'timeseries_id', 'data', 'data_id')]

In [9]:
tsc = TimeSeriesClassifier()

Using TensorFlow backend.

In [10]:
tsc.tune(X, y, data, 2)

2018-12-05 23:56:41,552 - 4697 - INFO - estimators - Scoring the default pipeline
2018-12-05 23:57:00,697 - 4697 - INFO - estimators - Scoring pipeline 1
2018-12-05 23:57:00,704 - 4697 - INFO - gp - Using Uniform sampler as user specified r_minimum threshold is not met to start the GP based learning
2018-12-05 23:57:32,718 - 4697 - INFO - estimators - Pipeline 1 score: 0.5791208791208791
2018-12-05 23:57:32,733 - 4697 - INFO - estimators - Scoring pipeline 2
2018-12-05 23:58:26,244 - 4697 - INFO - estimators - Pipeline 2 score: 0.5934065934065934

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

tsc.fit(X_train, y_train, data)

In [13]:
y_pred = tsc.predict(X_test, data)

In [14]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.4117647058823529